*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    
}
.link-1{
    display: flex;
    width: 40%;
}
.logo-dropbox{
    width: 15%;
    background-image: url(img/logo-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8px;
}
.link-header{
    width: 15%;
    padding: 8px;
    text-align: center;
    font-size: 15px;
}
.link-2{
    display: flex;
    width: 40%;
    justify-content: end;
}
.bottone-header{
    background-color: blue;
    color: white;
    border: none;
    width: 10%;
    margin-right: 10px;
}
main{
    padding-top: 70px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 22%, rgba(176,210,217,1) 22%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-main-1{
    padding-top: 70px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box-titolo{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.testo-main{
    font-size: 65px;
    text-align: left;
}
.immagine{
    height: 68%;
    width: 60%;
}
.contanier-immagine-testo{
    display: flex;
    width: 30%;
    height: 30%;
    flex-wrap: wrap;
}
.bottone-1-main{
    background-color: blue;
    width: 70%;
    height: 25%;
    color: white;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fa-solid, .fas {
    font-weight: 900;
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    height: 54%;
}
.container-main-2{
    padding-top: 70px;
    width: 50%;
    display: flex;
    
    flex-wrap: wrap;
}
.box-titolo-2{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 20px;
}
.testo-main-2{
    font-size: 30px;
    text-align: right;
}
.box-bottone-radio{
    width: 100%;
    display: flex;
    
}
.bottone-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } 
  .bottone-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 10px;
  }
  .bottone-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .bottone-radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .bottone-radio input:checked ~ .checkmark:after {
    display: block;
  }
  .bottone-radio .checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(42deg);
}
.colonna-1{
    width: 30%;
}
.container-colonne{

    
}
.categoria-colonna{
    display: flex;
    border: 1px solid black;
    text-align: end;
    padding: 3px;
}
.colonna-testo{
    border: 1px solid black;

}